.semi-navigation .semi-navigation-inner{
    backdrop-filter: blur(40px); /* 设置模糊半径 */
}
@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) or (-webkit-backdrop-filter:initial) {
    .index-module_container__x1Eix {
        -webkit-backdrop-filter: saturate(180%) blur(40px);
        backdrop-filter: saturate(180%) blur(40px);
        left: env(titlebar-area-x, 0);
        top: env(titlebar-area-y, 0);
        height: env(titlebar-area-height, 50px);
        width: env(titlebar-area-width, 100%);
        -webkit-app-region: drag;
    }
}