@layer tailwind-base,semi,tailwind-components,tailwind-utils;
@layer tailwind-base{
  @tailwind base;
}
@layer tailwind-components{
  @tailwind components;
}
@layer tailwind-utils {
  @tailwind utilities;
}
@plugin "daisyui";

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
