html{
  width: 100%;
  height: 100%;
  --Default-font:'Noto Sans SC',sans-serif;
  --Theme-font: 'HalloweenCN', "HalloweenEN"; /* 默认字体 */
  -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans SC';
    src: url('./Fonts/NotoSansSC-VariableFont_wght.ttf') format('truetype');
    font-weight: 700; /* 可根据需要调整 */
    font-style: normal; /* 可根据需要调整 */
}

:root {
  font-family: var(--Default-font), sans-serif;
  color-scheme: light dark;
  color: var(--semi-color-text-0);
  background-color: var( --semi-color-bg-0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: var(--Default-font), sans-serif;
  user-select: none;
  width: 100%;
  height: 100%;
  margin: 0;
  place-items: center;
  color: var(--semi-color-text-0);
  background-color: var( --semi-color-bg-0);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.semi-sidesheet-content{
    background-color: var(--semi-color-bg-0);
}