html{
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: light dark;
  color: var(--semi-color-text-0);
  background-color: var( --semi-color-bg-0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  user-select: none;
  width: 100%;
  height: 100%;
  margin: 0;
  place-items: center;
  color: var(--semi-color-text-0);
  background-color: var( --semi-color-bg-0);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.semi-sidesheet-content{
    background-color: var(--semi-color-bg-0);
}